.header {
  display: flex;
  font-family: Inter;
  font-size: 18px;
  border-bottom: 1px solid #e0e0e0;
}
.logo {
  margin: 0px 0px 0px 70px;
  width: 250px;
}
.home,
.about,
.faq {
  margin-right: 20px;
  position: relative;
  right: -25%;
  cursor: pointer;
  margin-top: 20px;
}
.home:hover,
.about:hover,
.faq:hover {
  text-decoration: underline;
}

.Search-slogan {
  font-family: Inter;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: none;
  display: flex;
  justify-content: center;
}
.Search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.submit-button {
  background-color: lightblue;
  border-radius: 8px;
  height: 32px;
  font-family: Inter;
  font-size: 18px;
  border-color: lightblue;
  border-style: none;
  padding: 2px 10px;
}
.login {
  margin-right: 10px;
  font-family: Inter;
  border: none;
  cursor: pointer;
  height: 30px;
  border-radius: 10px;
  position: relative;
  right: -50%;
  background-color: white;
  margin-top: 20px;
}

.signup {
  padding: 2px 10px;
  height: 30px;
  border: 1px solid lightblue;
  color: black;
  outline-offset: 0.5rem;
  background-color: lightblue;
  border-radius: 10px;
  cursor: pointer;
  font-family: Inter;
  position: relative;
  right: -50%;
  margin-top: 20px;
}

.travel-agent {
  font-family: Inter;
  font-size: 16px;
  width: 500px;
  color: black;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 40px;
}
.headshot {
  border: 1px solid black;
  border-radius: 200px;
  position: relative;
  left: 350px;
  bottom: 30px;
}
.about-us {
  display: block;
  margin: 0 auto;
  font-family: Inter;
  text-align: center;
  color: black;
  font-size: 18px;
  background-color: lightblue;
  border: 4px solid lightblue;
  border-radius: 8px;
  width: 1300px;
  height: 1050px;
  background-image: url("./passport.png");
  background-repeat: no-repeat;
}
.travel-recom {
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
}
.destination-details {
  font-family: Inter;
  font-size: 18px;
  height: 240px;
  width: 300px;
  text-align: center;
}
.Travel-cards {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}
.bell-icon {
  margin-right: 5px;
}
.details {
  display: block;
  margin: 0 auto;
  color: gray;
  width: 700px;
  font-size: 18px;
}

.slogan {
  font-family: Inter;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: none;
}

.Activity-title {
  font-family: Inter;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: none;
  text-align: center;
  margin: 20px 0px 20px 0px;
}
.Activity-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.reviews {
  font-family: Inter;
  color: gray;
  font-size: 16px;
}
.price-list {
  font-family: Inter;
  font-weight: 600;
}
.footer {
  margin-top: 30px;
  text-align: center;
}
